<launch>
  <arg name="start_donbot" default="true" />

  <include file="$(find iai_donbot_bringup)/launch/donbot.launch" if="$(arg start_donbot)" >
  	<arg name="navigation_map" value="$(find iai_maps)/maps/refills_integration_week.yaml" />  
  </include>

  <include file="$(find arrina_rooming_in)/launch/rooming_in.launch" />
</launch>
