<launch>

  <arg name="map_file" default="$(find iai_refills_lab)/maps/refills_lab.yaml" />
  <arg name="owl_file" default="$(find refills_second_review)/data/donbot_bremen/19_shelves_pp.owl" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <include file="$(find knowrob_refills)/launch/map.launch" >
    <arg name="semantic_map" value="$(arg owl_file)" />
  </include>

  <node pkg="refills_second_review" type="shelf_name_visualizer" name="shelf_name_visualizer" />

</launch>
