<launch>
  <!-- <arg name="order_yaml" default="$(find refills_second_review)/data/donbot_bremen/old_data/19_shelves.yaml" /> -->
  <!-- <arg name="initial_beliefstate" default="$(find refills_second_review)/data/donbot_bremen/old_data/19_shelves_pp_pp.owl" /> -->

  <arg name="initial_beliefstate" default="$(optenv HOME)/mongo_logs/2020-11-19_21-57-45_pp_pp_pp/roslog" />
  <!-- <arg name="order_yaml" default="$(find refills_second_review)/data/kmr_iiwa_bremen/19_only.yaml" /> -->
  <arg name="order_yaml" default="$(find refills_second_review)/data/kmr_iiwa_bremen/5_shelves.yaml" />
  <!-- <arg name="order_yaml" default="$(find refills_second_review)/data/kmr_iiwa_bremen/19_shelves.yaml" /> -->
  
  <arg name="ceiling_height" default="2" />
  <arg name="map_file" default="$(find iai_refills_lab)/maps/refills_lab_kmr_iiwa.yaml" />
 
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <include file="$(find iai_kmr_iiwa_sim)/launch/ros_control_sim.launch"/>

  <!-- <include file="$(find knowrob_refills)/launch/knowrob_refills.launch"/> -->

  <param name="brain/trajectory_sample_period" type="double" value="0.05" />
  <param name="perception_interface/initial_beliefstate" value="$(arg initial_beliefstate)" />
  <param name="perception_interface/order_yaml" value="$(arg order_yaml)" />
  <param name="perception_interface/robosherlock_sim" value="True" />
  <param name="perception_interface/ceiling_height" value="2" />
  <param name="perception_interface/robot" value="kmriiwa" />
  <param name="perception_interface/rgb_topic" value="/refills_wrist_camera/image_raw" />
  <param name="perception_interface/realsense_topic" value="/rs_camera/color/camera_info" />

<!--   <include file="$(find refills_perception_interface)/launch/interface.launch">
    <arg name="initial_beliefstate_owl" value="$(arg initial_beliefstate)" />
    <arg name="order_yaml" value="$(arg order_yaml)" />
    <arg name="robosherlock_sim" value="true" />
    <arg name="ceiling_height" value="$(arg ceiling_height)" />
  </include> -->

  
  <include file="$(find giskardpy)/launch/giskardpy_kmr_iiwa.launch"/>

</launch>
